.Main {

    position: absolute;
    width: 100vw;
    height: 100vh;
    
    perspective: 800px;
    perspective-origin: 50% 50%;
    
}



.snackbar {
 
    position: absolute;
    transform-style: preserve-3d;
    
    width: 80vw;
    height: 80vw;
    left: 10vw;
    top: 10vh;
    
    background: rgba(255,0,0,0.3);
    
    transform: translate3d(0,0,-200vw);
    animation: snackbar-rotate 10s infinite;
    
}

@keyframes snackbar-rotate {
    
    0% {
       transform: translate3d(0,0,-200vw) rotateY(0deg);
    }
    100% {
        transform: translate3d(0,0,-200vw) rotateY(360deg);
    }
}

.side {
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: center center -100vw;

    width: 80vw;
    height: 80vw;
    left: 0;
    top: 10;
    
    background: rgba(0,255,0, 0.2);
}

.side-1 {
    
    transform: translate3d(0,0,100vw) rotateX(0deg) rotateY(0deg);
    
}

.side-2 {

    transform: translate3d(0,0,100vw) rotateX(0deg) rotateY(90deg);

}

.side-3 {

    transform: translate3d(0,0,100vw) rotateX(0deg) rotateY(180deg);

}

.side-4 {

    transform: translate3d(0,0,100vw) rotateX(0deg) rotateY(-90deg);

}

.side-5 {

    transform: translate3d(0,0,100vw) rotateX(-90deg) rotateY(0deg);

}

.side-6 {

    transform: translate3d(0,0,100vw) rotateX(90deg) rotateY(0deg);

}
    
    
    
    