.Main {

    position: absolute;
    width: 100vw;
    height: 100vh;
    
    perspective: 800px;
    perspective-origin: 50% 50%;
    
}



.snackbar {
 
    position: absolute;
    transform-style: preserve-3d;
    
    width: 80vw;
    height: 80vw;
    left: 10vw;
    top: 10vh;
    
    background: rgba(255,0,0,0.3);
    
    transform: translate3d(0,0,-200vw);
    
}

.side {
    position: absolute;
    transform-style: preserve-3d;

    width: 80vw;
    height: 80vw;
    left: 0;
    top: 10;
    
    background: rgba(0,255,0, 0.2);
}

.side-1 {
    
}
    
    
    
    